@charset "UTF-8";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  /* all for works */
  box-sizing: inherit; }

html {
  /*  
  target 10 px make default font-size. 
  so, now 
  10/16
  =0.625*100
  =62.5%
  */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  /* parent */
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 20px; }

.heading__primary {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 6rem;
  /* Remove shake */
  backface-visibility: hidden; }
  .heading__primary--main {
    display: block;
    background: linear-gradient(to right bottom, #f9fcf9, #d3d2a5);
    background-clip: text;
    color: transparent;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
    /* practice */
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    /* animation-iteration-count: 2; */
    /* animation-delay: 1s; */ }
  .heading__primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 3s ease-in-out;
    color: #fff; }

.heading__secondary {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  letter-spacing: 0.2rem;
  transition: all 0.3s ease-in-out;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }
  .heading__secondary:hover {
    transform: skewX(15deg) skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading__tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 1;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 1;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  padding: 1.5rem 4rem; }

.btn--white {
  background-color: #fff;
  color: #777;
  border-radius: 10rem; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #f7f7f7;
  padding: 1.5rem 4rem;
  border-radius: 10rem; }
  .btn--green::after {
    background-color: #55c57a; }

.btn:hover {
  /* best */
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    opacity: 0;
    transform: scaleX(1.3) scaleY(1.5); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  border-radius: 10rem;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-in; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  /* connect with delay */
  animation-fill-mode: backwards; }

.small__btn-text:link, .small__btn-text:visited {
  color: #55c57a;
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  display: inline-block;
  padding: 3px;
  transition: all 0.2s; }

.small__btn-text:hover {
  color: #fff;
  background-color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-radius: 5%;
  transform: translateY(-2px); }

.small__btn-text:active {
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__slide {
    height: 52rem;
    transition: all 2s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    overflow: hidden; }
    .card__slide--front {
      background-color: #fff; }
    .card__slide--back {
      transform: rotateY(180deg); }
      .card__slide--back--1 {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
      .card__slide--back--2 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
      .card__slide--back--3 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card:hover .card__slide--front {
    transform: rotateY(-180deg); }
  .card:hover .card__slide--back {
    transform: rotateY(0); }
  .card__picture {
    height: 40%;
    background-size: cover;
    --webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-blend-mode: screen; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../../img/nat-5.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../../img/nat-6.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../../img/nat-7.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    right: 2rem;
    top: 12rem;
    width: 75%;
    text-align: right; }
    .card__heading--span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .card__heading--span--1 {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
      .card__heading--span--2 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
      .card__heading--span--3 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 5rem 0 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price--box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price--only {
    font-size: 2.4rem; }
  .card__price--value {
    font-size: 6rem;
    font-weight: 100; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.4s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem;
      transform: rotate(-5deg); }
    .composition__photo--p2 {
      right: 0;
      top: 2rem;
      transform: rotate(5deg); }
    .composition__photo--p3 {
      left: 20%;
      top: 12rem;
      transform: rotate(3deg); }
    .composition__photo:hover {
      z-index: 20;
      transform: scale(1.05) rotate(0deg) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      outline: 1.5rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

/*.composition {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  position: relative;
  padding: 2rem;

  &__photo {
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: relative;
    z-index: 10;
    transition: all 0.4s;
    outline-offset: 2rem;

    &--p1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      transform: rotate(-5deg);
    }

    &--p2 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      transform: rotate(5deg);
    }

    &--p3 {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      transform: rotate(-2deg);
    }

    &:hover {
      z-index: 20;
      transform: scale(1.05) rotate(0deg);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      outline: 1.5rem solid $color-primary;
    }
  }
}

 
@media only screen and (max-width: 768px) {
  .composition {
    grid-template-columns: 1fr;
    gap: 1rem;

    &__photo {
      &--p1,
      &--p2,
      &--p3 {
        grid-column: 1 / -1;
        transform: rotate(0deg);
      }
    }
  }
}
*/
.feature__box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  will-change: transform; }
  .feature__box--icon {
    display: inline-block;
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .feature__box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.story {
  width: 75%;
  padding: 7rem;
  margin: 0 auto;
  padding-left: 9rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-3rem) scale(1.4);
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    filter: blur(3px) brightness(80%);
    transform: translateX(-4rem) scale(1); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../../img/nat-10.jpg");
  background-size: cover;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 50%;
    padding: 6rem; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  font-family: inherit;
  border: none;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 2.5px solid transparent;
  width: 100%;
  display: block;
  transition: all 0.3s; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2.5px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 2.5px solid #ff7730; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 1.2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio--group {
  width: 49%;
  display: inline-block; }

.form__radio--label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio--input {
  display: none; }

.form__radio--button {
  width: 2.5rem;
  height: 2.5rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -0.3rem;
  left: 0; }
  .form__radio--button::after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #55c57a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; }

.form__radio--input:checked + .form__radio--label .form__radio--button::after {
  opacity: 1; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* clip-path: polygon(50% 0,50% 100%,100% 0, 0 100%); */
  /* clip-path: polygon(50% 0,100% 50%, 0 100%,100% 0 ); */
  /* clip-path: polygon(50% 0, 100% 100%,   0 100%); */ }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 35px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }

/*.grid {
  height: 100vh;
  background-color: bisque;

  &__header {
    color: red;
  }
  &__row {
    background-color: $color-white;
    max-width: $grid-width;
    margin: 0 auto;

    background-color: #eee;
    &:not(:last-child) {
      margin-bottom: $gutter-vertical; //⬇️ vertical
    }

    @include clearFix;
    [class^="col__"] {
      color: $color-white;
      height: 80px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      float: left;
      background-color: cadetblue;
      &:not(:last-child) {
        margin-right: $gutter-horizontal;
      }
    }
    .col__1-of-4 {
      width: calc((100% - 3 * 6rem) / 4);
    }
    .col__1-of-2 {
      width: calc((100% - 6rem) / 2);
    }
    .col__1-of-3 {
      width: calc((100% - 2 * 6rem) / 3);
    }
    .col__2-of-3 {
      width: calc(
        2 * ((100% - 2 * 6rem) / 3) + 6rem
      );
    }
    .col__2-of-4 {
      width: calc(
        2 * ((100% - 3 * 6rem) / 4) + 6rem
      );
    }
    .col__3-of-4 {
      width: calc(
        3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem
      );
    }
  }
}
*/
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  margin-top: -12rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  padding: 25rem 0 15rem 0;
  margin-top: -12rem;
  background-color: #f7f7f7; }

.section-stories {
  padding: 15rem 0;
  position: relative; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  .footer__logo--box {
    text-align: center; }
    .footer__logo--box-img {
      width: 15rem;
      height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    padding: 0 0.5rem;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.1s;
    backface-visibility: hidden; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(2.5deg) scale(1.2);
    background-color: #333; }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    .footer__copyright::before {
      content: "→";
      margin-right: 0.5rem; }

/* extra practice */
/* Classes that will show or hide the
   three back faces of the "cube" */
/*
    <table>
        <tr>
          <th><code>backface-visibility: visible;</code></th>
          <th><code>backface-visibility: hidden;</code></th>
        </tr>
        <tr>
          <td>
            <div class="container">
              <div class="cube showbf">
                <div class="face front">1</div>
                <div class="face back">2</div>
                <div class="face right">3</div>
                <div class="face left">4</div>
                <div class="face top">5</div>
                <div class="face bottom">6</div>
              </div>
            </div>
            
          </td>
          <td>
            <div class="container">
              <div class="cube hidebf">
                <div class="face front">1</div>
                <div class="face back">2</div>
                <div class="face right">3</div>
                <div class="face left">4</div>
                <div class="face top">5</div>
                <div class="face bottom">6</div>
              </div>
            </div>
         
          </td>
        </tr>
      </table>
    <div class="container-practice">
.showbf div {
  backface-visibility: visible;
}

.hidebf div {
  backface-visibility: hidden;
}

 
.container {
  width: 150px;
  height: 150px;
  margin: 75px 0 0 75px;
  border: none;
}

.cube {
  width: 100%;
  height: 100%;
  perspective: 550px;
  perspective-origin: 150% 150%;
  transform-style: preserve-3d;
}

.face {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  border: none;
  line-height: 100px;
  font-family: sans-serif;
  font-size: 60px;
  color: white;
  text-align: center;
}

 
.front {
  background: rgb(0 0 0 / 30%);
  transform: translateZ(50px);
}

.back {
  background: rgb(0 255 0 / 100%);
  color: black;
  transform: rotateY(180deg) translateZ(50px);
}

.right {
  background: rgb(196 0 0 / 70%);
  transform: rotateY(90deg) translateZ(50px);
}

.left {
  background: rgb(0 0 196 / 70%);
  transform: rotateY(-90deg) translateZ(50px);
}

.top {
  background: rgb(196 196 0 / 70%);
  transform: rotateX(90deg) translateZ(50px);
}

.bottom {
  background: rgb(196 0 196 / 70%);
  transform: rotateX(-90deg) translateZ(50px);
}

 
th,
p,
td {
  background-color: #eeeeee;
  margin: 0px;
  padding: 6px;
  font-family: sans-serif;
  text-align: left;
}

    <div class="practice-0 practice">
        
        <h2>font </h2>
      </div>
      <div class="practice-1 practice">
        
        <h2>Persepective 1 </h2>
      </div>
      <div class="practice-2 practice">
        
        <h2>Persepective 2 </h2>
      </div>
.container-practice
{
  width: 200px;
  height: 200px;
  border: 2px solid;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  backface-visibility: visible;
  perspective: 50px;
  background-color: black;
 
 perspective-origin: -210% 22%;
 transform-style: preserve-3d;
 
}
.practice{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;

}
.practice-1{
 
  background-color: #886a2ac2;
  perspective-origin:top;  
  transform: rotateY(180deg) translateZ(50px) ;
  text-align: center;
  transform-origin:left center ;
  
}
.practice-2{
 
  background-color: #485370c2;
  perspective-origin: right;  
  transform: rotateY(90deg)  translateZ(50px);
  text-align: center;
 
}
.practice-0{
 
  transform: translateZ(20px);
  background-color: #bb4343;
}
.practice h2{
  color: #f9fcf9;
  text-shadow: 2px 2px 5px rgb(161, 124, 124);

}

*/
