.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.4s;
    outline-offset: 2rem;
    &--p1 {
      left: 0;
      top: -2rem;
      transform: rotate(-5deg);
    }
    &--p2 {
      right: 0;
      top: 2rem;
      transform: rotate(5deg);
    }
    &--p3 {
      left: 20%;
      top: 12rem;
      transform: rotate(3deg);
    }
    &:hover {
      z-index: 20;
      transform: scale(1.05) rotate(0deg) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      outline: 1.5rem solid $color-primary;
    }
  }
  &:hover .composition__photo:not(:hover) {
    transform: scale(0.9);
  }
}
/*.composition {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  position: relative;
  padding: 2rem;

  &__photo {
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: relative;
    z-index: 10;
    transition: all 0.4s;
    outline-offset: 2rem;

    &--p1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      transform: rotate(-5deg);
    }

    &--p2 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      transform: rotate(5deg);
    }

    &--p3 {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      transform: rotate(-2deg);
    }

    &:hover {
      z-index: 20;
      transform: scale(1.05) rotate(0deg);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      outline: 1.5rem solid $color-primary;
    }
  }
}

 
@media only screen and (max-width: 768px) {
  .composition {
    grid-template-columns: 1fr;
    gap: 1rem;

    &__photo {
      &--p1,
      &--p2,
      &--p3 {
        grid-column: 1 / -1;
        transform: rotate(0deg);
      }
    }
  }
}
*/
